---
---

body {
  font-family: sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-bottom: 20px;

  h1 a {
    color: #333;
    text-decoration: none;
  }
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}
